<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Angad Cheema.
  ~  * Github: @angad305
  ~  * Copyright (c) 2020 . All rights reserved.
  ~  * Last modified 30/3/20 2:39 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.angadcheema.www.moviesbyangad">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:allowBackup="false"
    android:icon="@drawable/movies_icon"
    android:label="@string/app_name"
    android:usesCleartextTraffic="true"
    android:roundIcon="@drawable/movies_icon"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity"
      android:configChanges="orientation|screenSize"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_detailspane"
      android:name=".DetailsPane"
      android:theme="@style/AppTheme">
    </activity>

    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts"/>
  </application>

</manifest>